@{ 
    ViewBag.Title = "Index";
}

<h2>Hello World of Cooking</h2>

<p>Hello Chef's and Cooks of the World!</p> 
<p>And hello to those, like me, who aspire to become one! This is a simple blog to post and share ideas, tips, tricks, and maybe even some cooking secrets!</p>